@model IEnumerable<LibraryManagementSytem.BusinessLayer.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

<p>
    <a class="bnr_btn" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.PublisherName)
            </td>
            <td>
                <a class="bnr_btn" asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                <a class="bnr_btn" asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                <a class="bnr_btn" asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
